name: Release-plz
on:
  push:
    branches: [main]

permissions:
  pull-requests: write
  contents: write

jobs:
  release-plz:
    name: Release
    runs-on: ubuntu-latest
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-rust
      - uses: release-plz/action@a4c8e77e7e4da35ce6fea6fb99079dd94fc45559 # ratchet:release-plz/action@v0.5
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
