name: Test
on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test (${{ matrix.os }}, ${{ matrix.rust }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [stable, beta]
        include:
          - os: ubuntu-latest
            rust: nightly
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: ./.github/actions/setup-rust
        with:
          toolchain: ${{ matrix.rust }}
      - name: Run tests (all features)
        run: cargo test --all-features
      - name: Run tests (no default features)
        run: cargo test --no-default-features

  # Minimal Supported Rust Version check
  msrv:
    name: MSRV Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: ./.github/actions/setup-rust
        with:
          toolchain: "1.85" # Keep in sync with Cargo.toml rust-version
      - run: cargo check --all-features
